Binaries/
Intermediate/
Saved/
Build/
DerivedDataCache/
DDC/
Game/
Plugins/**/Intermediate/
Plugins/**/Binaries/
Plugins/**/Saved/

.vs/
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.VC.opendb

.DS_Store
Thumbs.db
desktop.ini

*.tmp
*.log
*.bak